.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  background-color: rgb(244 245 248);
  min-height: 90vh;
  overflow-x: scroll;
}

.group-column {
  margin: 10px;
  width: 300px;
  padding: 10px;
}

.card.dragging {
  background-color: lightgreen;
}

.card {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 90px;
  font-size: 14px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.card-id {
  font-size: 12px;
  color: #666;
}

.card-avatar {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-weight: 400;
  padding: 2px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #964804;
  position: relative;
}

.user-status {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  bottom: -2px;
  right: -2px;
  border: #fff 1px solid;
}

.live {
  background-color: #f7d82a;
}

.gone {
  background-color: #e8e8e8;
}

.card-body {
  display: flex;
  gap: 6px;
  font-size: 14px;
  height: 30px;
  align-items: center;
}

.card-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.card-footer {
  display: flex;
  gap: 8px;
  margin-top: 4px;
  height: 20px;
  align-items: center;
}

.tag-feature {
  /* background-color: #f0f0f0; */
  border: #f0f0f0 1px solid;
  text-align: center;
  color: #666;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 10px;
}

.tag-dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dropdown {
  position: relative;
  margin: 20px;
}

.menu {
  position: absolute;
  background-color: rgb(248 249 251);
  list-style-type: none;
  margin: 10px 2px;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  width: 250px;
  z-index: 100;
}

.menu-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.display-btn {
  padding: 2px 4px;
  margin-top: 4px;
  margin-left: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  gap: 6px;
}

.select-btn {
  border-radius: 8px;
  padding: 2px 4px;
}

.group-menu {
  display: flex;
  gap: 4px;
  align-items: center;
}

.group-title {
  display: flex;
  gap: 4px;
  align-items: center;
}

.group-title p {
  font-weight: 500;
}

.group-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}
